*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bi-search{
    position: absolute;
    right: 20px;
}

form{
    position: relative;
    display: flex;
    align-items: center;
}

.slider-item img{
    height: 150px !important;
    
}

#mini-slider{
    scrollbar-width: none;
}



.card {
    border: none !important;
    border-radius: 18px !important;
    transition: transform 0.3s ease;
    border-radius: 15px;
  }

  .card:hover {
    transform: scale(1.03);
  }
 
  .category-img{
    object-fit: cover !important;
  }


.offer-slider {
    display: flex;
    overflow: hidden; 
    position: relative;
    animation: slide 15s linear infinite;
}

#bank-slider{
    scrollbar-width: none;
}

.bank-name {
    font-weight: bold;
}

@keyframes slide {
    0% {
        transform: translateX(30%); 
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(10); 
    }
    100% {
        transform: translateX(-100%);
    }
}

.img-deal{
    height: 400px;
    width: 300px;   
    border-radius: 10px; 
}

#summer-deal{
    scrollbar-width: none;
}

.icon-card {
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
.icon-card img {
    width: 100px;
    height: 100px;
}
.section-title {
    margin: 20px 0;
    text-align: center;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #12daa8;
    
}


.dropdown-item{
    color: white !important;
}

#slider-2{
    scrollbar-width: none;
}

/* product-1 */

.main{
    background-color: #1e1e1e !important;
}

.categories{
    background-color: #1e1e1e;
}


.filter-btn {
    background-color: #363636 !important;
    color: white !important;
    border: none !important;
    
  }

  .filter-tag {
    background-color: #00d6a3 !important;
    color: black !important;
    border: none !important;
  }

  .filter-tag .btn-close {
    margin-left: 5px !important;
  }

  .section-title {
    font-size: 2rem !important;
    font-weight: bold !important;
  }

  .sub-title {
    font-size: 0.9rem !important;
    color: #aaa !important;
  }

  .filter-bar {
    gap: 0.5rem !important;
    flex-wrap: wrap !important;
  }

  .tag-bar {
    gap: 0.5rem !important;
    flex-wrap: wrap !important;
    margin-top: 1rem !important;
  }


  .products{
    background-color: #1e1e1e;
  }
  .product-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 16px;
    transition: transform 0.3s ease;
  }
  .product-card:hover {
    transform: scale(1.03);
  }
  .product-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
    background-color: #363636;
    border-radius: 20px;
    padding: 20px;
  }
  .product-title {
    font-weight: bold;
    font-size: 1rem;
    height: 48px;
    overflow: hidden;
    color: white;
  }
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }
  .original-price {
    text-decoration: line-through;
    margin-left: 8px;
    color: #888 ;
  }
  .discount {
    background: #444 !important;
    color: #fff !important;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 2px 8px;
    margin-left: 10px;
  }
  .rating {
    color: limegreen !important;
  }
  .delivery {
    font-size: 0.9rem;
    color: #ccc !important;
    margin-top: 8px;
  }

